<!-- Curvedown -->
<svg
  class="curveDownColor curveGrey"
  xmlns="http://www.w3.org/2000/svg"
  version="1.1"
  width="100%"
  height="100"
  viewBox="0 0 100 100"
  preserveAspectRatio="none"
>
  <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
</svg>

<!-- Parallax Section - Counter -->
<div class="parallax-section parallax2">
  <div class="wrap">
    <section class="grid grid-pad callout">
      <div class="col-1-1">
        <div class="content">
          <div class="info-counter">
            <div class="info-counter-content">
              <h5 class="info-counter-number">
                <span class="info-counter-units"
                  >HELP IS A SIMPLE CALL AWAY 020 8361 3219</span
                >
              </h5>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- End Parallax Section -->

<!-- CurveUp -->
<svg
  class="curveUpColor curveBlack"
  xmlns="http://www.w3.org/2000/svg"
  version="1.1"
  width="100%"
  height="100"
  viewBox="0 0 100 100"
  preserveAspectRatio="none"
>
  <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
</svg>

<!-- Footer -->
<footer class="wrap">
  <div class="grid grid-pad">
    <div class="col-1-2 footer-address">
      <div class="col-1-2">
        <div class="content">
          <div class="footer-widget">
            <h3>City Clinic</h3>
            <div class="textwidget">
              <address>
                <span>2/8 Victoria Avenue</span> <span>Bishopsgate</span>
                <span>London EC2M 4NS</span>
              </address>
            </div>
            <p>
              <a
                href="https://maps.google.co.uk/maps?q=Victoria+Avenue,+London+EC2M+4NS"
                rel="nofollow noreferrer noopener"
                target="_blank"
                >Click here for map.</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-1-2">
        <div class="content">
          <div class="footer-widget">
            <h3>East Finchley Clinic</h3>
            <div class="fwidget">
              <address>
                <span>Bedford Mews</span> <span>Bedford Road</span>
                <span>London N2 9DB</span>
              </address>
            </div>
            <p>
              <a
                href="https://maps.google.co.uk/maps?q=1+Bedford+Road,+London+N2+9DB"
                rel="nofollow noreferrer noopener"
                target="_blank"
                >Click here for map.</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-4">
      <div class="content">
        <div class="footer-widget">
          <h3>Tweets</h3>
          <div id="tweet-scroll-wrapper" class="clearfix">
            <div class="tweets-list-container"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-4">
      <div class="content">
        <div class="footer-widget">
          <h3>Contact</h3>
          <span class="tel-no"
            >Tel: <a href="tel:02083613219">020 8361 3219</a></span
          >
          <span
            >Email:
            <a href="mailto:therapy&#64;thethinkingspace.co.uk"
              >therapy&#64;thethinkingspace.co.uk</a
            ></span
          >
          <div class="social-set">
            <a href="#0"><i class="icon-facebook"></i></a>
            <a href="https://twitter.com/thinkinspace" target="_blank"
              ><i class="icon-twitter"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="col-1-1 charity_sec">
      <div class="charity">
        <p>
          <strong
            >The Thinking Space supports the charity 'commit and act’.
            <a href="#" id="dialog_link">Learn more</a>.</strong
          >
        </p>
        <div id="dialog" title="commit and act">
          <p>
            The Thinking Space supports the charity 'commit and act’. This is an
            international NGO that disseminates psychological (ACT) training to
            local health workers in developing countries and have a training
            centre in Bo, Sierra Leone.
          </p>
          <p>
            commit and act has been pivotal in teaching culturally effective
            Ebola prevention strategies (see ‘<a
              href="http://www.huffingtonpost.com/steven-c-hayes-phd/kissing-the-banana-trunk-_b_5839680.html"
              rel="nofollow noreferrer noopener"
              target="_blank"
              ><strong>Kiss the banana trunk</strong></a
            >’).
          </p>
          <p>
            Tien is on the fund-raising committee and a trainer for the NGO.
          </p>
          <p>
            If you have found our treatment helpful, please consider donating a
            session fee to commit and act to help others benefit, or adopt us
            for your fund-raiser.
          </p>
          <p>
            For more information:
            <a
              href="http://commitandact.com/"
              rel="nofollow noreferrer noopener"
              target="_blank"
              >http://commitandact.com/</a
            >
          </p>
        </div>
      </div>
      <p class="source-org copyright">
        Copyright &copy; 2018 | All Rights Reserved |
        <a href="/privacy/">Privacy Policy</a> | Website by
        <a
          href="http://gro.media"
          rel="nofollow noreferrer noopener"
          target="_blank"
          >GroMedia</a
        >
      </p>
    </div>
  </div>
</footer>
<!-- End Footer -->
