<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
  />
  <title>{{ page.title }}</title>
  <meta name="description" content="We are a London based provider of caring, efficient and wellbeing focused treatment, with clinics in the City EC2 and Finchley N2."/>
  <link rel="canonical" href="https://thethinkingspace.co.uk/" />
  <meta property="og:locale" content="en_GB" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Thinking Space - Cognitive Behaviour Therapy &amp; Psychotherapy in London" />
  <meta property="og:description" content="We are a London based provider of caring, efficient and wellbeing focused treatment, with clinics in the City EC2 and Finchley N2." />
  <meta property="og:url" content="https://thethinkingspace.co.uk/" />
  <meta property="og:site_name" content="The Thinking Space Psychology Service" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="We are a London based provider of caring, efficient and wellbeing focused treatment, with clinics in the City EC2 and Finchley N2." />
  <meta name="twitter:title" content="" />
  <script type='application/ld+json'>{"@context":"https://schema.org","@type":"WebSite","@id":"https://thethinkingspace.co.uk/#website","url":"https://thethinkingspace.co.uk","name":"The Thinking Space Psychology Service","potentialAction":{"@type":"SearchAction","target":"https://thethinkingspace.co.uk/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
  <script type='application/ld+json'>{"@context":"https://schema.org","@type":"Organization","url":"https://thethinkingspace.co.uk/","sameAs":[],"@id":"https://thethinkingspace.co.uk/#organization","name":"The Thinking Space Psychology Service","logo":"https://thethinkingspace.co.uk/images/logo.png"}</script>
  <link rel='dns-prefetch' href='//fonts.googleapis.com' />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/simplegrid.css" />
  <link rel="stylesheet" href="/css/icomoon.css" />
  <link rel="stylesheet" href="/css/lightcase.css" />
  <link rel="stylesheet" href="/css/tweetscroll.css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <link rel="stylesheet" href="/js/owl-carousel/owl.carousel.css" />
  <link rel="stylesheet" href="/js/owl-carousel/owl.theme.css" />
  <link rel="stylesheet" href="/js/owl-carousel/owl.transitions.css" />
  <link rel="stylesheet" href="/css/jquery-word-rotator.css" />
  <link rel="stylesheet" href="/css/animate.css" />
  <link rel="stylesheet" href="/style.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"
  />
  <link
    href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="//fonts.googleapis.com/css?family=Montserrat:400,700"
    rel="stylesheet"
    type="text/css"
  />
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
