<ul class="col-1-5 sidenav">
  <li>
    <a
      href="about-us.html"
      class="{% if page.name == 'about-us.html' %}current{% endif %}"
      >About Us</a
    >
  </li>
  <li>
    <a
      href="info-collection.html"
      class="{% if page.name == 'info-collection.html' %}current{% endif %}"
      >How we collect information about you</a
    >
  </li>
  <li>
    <a
      href="about-info.html"
      class="{% if page.name == 'about-info.html' %}current{% endif %}"
      >About the Information we collect and why we use it Personal
      Information</a
    >
  </li>
  <li>
    <a
      href="profiling.html"
      class="{% if page.name == 'profiling.html' %}current{% endif %}"
      >Profiling: making our work more unique to you</a
    >
  </li>
  <li>
    <a
      href="legal-basis.html"
      class="{% if page.name == 'legal-basis.html' %}current{% endif %}"
      >Legal basis for using your information</a
    >
  </li>
  <li>
    <a
      href="info-sharing.html"
      class="{% if page.name == 'info-sharing.html' %}current{% endif %}"
      >Sharing your Information</a
    >
  </li>
  <li>
    <a
      href="info-safety.html"
      class="{% if page.name == 'info-safety.html' %}current{% endif %}"
      >Keeping your information safe</a
    >
  </li>
  <li>
    <a
      href="info-duration.html"
      class="{% if page.name == 'info-duration.html' %}current{% endif %}"
      >How long we hold your information for</a
    >
  </li>
  <li>
    <a
      href="your-rights.html"
      class="{% if page.name == 'your-rights.html' %}current{% endif %}"
      >Your rights</a
    >
  </li>
  <li>
    <a
      href="cookies.html"
      class="{% if page.name == 'cookies.html' %}current{% endif %}"
      >Cookies</a
    >
  </li>
</ul>
